{{> header }}  {{!-- llamada al parcial header --}}


{{> navbar }} {{!-- llamada al parcial navbar --}}

<body>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>
           Usman vs Covington 
      </h1>
      <p>Conforme pasa el tiempo, la rivalidad crece entre Kamaru Usman y Colby Covington. En conferencia de prensa intercambiaron declaraciones y encendieron más el combate de UFC 245.</p>
    </div>
    <div class="col">
       <img src="assets/img/1.jpg" class="img-thumbnail" > 
       <!-- se coloca la ruta relativa del path ya que para express se le puso por defecto que todo busque en public  -->
    </div>
  </div>
  
</div>


</body>


{{> footer }} {{!-- llamada al parcial footer --}}
